<section class="sort" data-loc="{{ car.coords }}">
    <h3>{{ car.title }}</h3>
    <p><!--vin: {{ vin }}-->

    {% if car.range == 0 -%}
        <span style="color: red">Not driveable</span>,
    {%- else -%}
        Approx range: {{ car.range }} km,
    {%- endif %}
    charge: {{ car.charge|int }}%
    {%- if charging -%}
        , charging
    {%- endif -%}
    <br/>

    {% if car.license_plate != car.title -%}
        Plate: {{ car.license_plate }}
    {%- endif -%}
    {%- if car.cleanliness_interior -%}
        , interior: {{ car.cleanliness_interior|lower }}
    {%- endif -%}
    {%- if car.cleanliness_exterior -%}
        , exterior: {{ car.cleanliness_exterior|lower }}
    {%- endif %}
    {% if car.license_plate != car.title or car.cleanliness_interior or car.cleanliness_exterior %}
        <br/>
    {% endif %}

    Location: <a href="{{ car.map_url }}">{{ car.coords }}</a><span class="distance" data-template=", approx distance: {dist} km{min}"></span>
    <br/>

    <a href="{{ car.map_url }}">{{ car.map_img }}</a>
</section>
