<!doctype html>
<meta charset="utf-8" />
<title>electric carshare vehicles in {{ displayed_city.display }}</title>
<!-- Hello! If you're interested, the source code for this page is
available at https://github.com/jarek/electric2go -->
<style type="text/css" media="screen,projection">
{% include('style.css') %}
</style>
<body>
{% include "cities.html" %}

<h2>{{all_cars|length|count("electric car")}} currently available in {{ displayed_city.display }}</h2>

{% if all_cars|length > 1 %}
{# Don't show map if there's no cars, or there is only one car. #}
<img src="http://maps.googleapis.com/maps/api/staticmap?size=300x250&amp;markers=size:small|{{ all_cars|map(attribute='coords')|join('|') }}&amp;visual_refresh=true&amp;sensor=false"
     alt="map of all available cars" width="300" height="250" id="multimap" />
{% endif %}

{% for car in all_cars %}
    {% include "car.html" %}
{% endfor %}

<footer>
    {% if cache_age %}
    Using cached data. Data age: {{ cache_age|count("second") }}, next refresh in {{ cache_next_refresh|count("second") }}.
    {% endif %}
    {% if displayed_city.system == 'car2go' %}
    This product uses the car2go API but is not endorsed or certified by car2go.
    {% endif %}
</footer>

<script type="text/javascript">
{% include('sort.js') %}
</script>

{{ block_endmatter }}

</body>
