# sample crontab entry

# replace the ellipses with actual path, optionally replace "car2go" with another system supported in cars.py

*/1 * * * * python .../electric2go/download.py car2go all >> .../electric2go/data/cronlog-car2go


# daily, at 1 am server time, zip up previous day's car2go files into .../electric2go/data/car2go-archives/
# adapt for other systems as necessary
# this command is pretty hacky, can probably be done better, but it seems to work at least on Debian Wheezy

0 1 * * * cd .../electric2go/data/car2go/ && find . -type f -name "`date -d 'yesterday 13:00' '+*\%Y-\%m-\%d*'`" | awk -F '--' '{print $1}' | sort -u | xargs -i sh -c "tar cfz ../car2go-archives/{}.tgz {}*" >> .../electric2go/data/cronlog-car2go-archives
