# this is all that is required for index.py, api.py, download.py
# other scripts that do analysis have more, but it is not needed for web pages
Jinja2>=2.7.3, <3.0
MarkupSafe==0.23
requests>=2.3.0
wsgiref==0.1.2
